[submodule "lib/drvAMC"]
	path = lib/drvAMC
	url = git@github.com:Aightech/drvAMC
	branch = main
[submodule "lib/ni-daqmx"]
	path = lib/ni-daqmx
	url = git@github.com:Aightech/ni-daqmx
	branch = main
